#########################################################################
# Author: 	Paul Madley-Dowd 
# Date: 	21/04/2023
# Description: 	File to define which files should not be stored on github
#		This will prevent data and log files from being stored online 
#########################################################################

*.log
*.csv
